.catalog-item {
  @include container;
  border: 1px solid #ececec;
  margin-bottom: 30px;
}
.catalog-item__image {
  line-height: 0;
}
.catalog-item__text {
  padding: 20px;
}
.catalog-item__title {
  margin: 0;
  a {
    font-size: 18px;
    font-weight: bold;
    @include link;
    color: #000000;
    &:hover {
      color: #666666;
    }
    &:active {
      color: #b2b2b2;
    }
  }
}
.catalog-item__descr {
  font-size: 14px;
  margin: 0;
  border-bottom: 1px solid #ececec;
  padding-bottom: 20px;
}
.catalog-item__price {
  a {
    @include link;
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    &:hover {
      color: #666666;
    }
    &:active {
      color: #b2b2b2;
    }
  }
}
.catalog-item:hover  {
  box-shadow: 0 6px 10px 0 #ececec;
}

.catalog-item:active {
  box-shadow: 0 3px 5px 0 #ececec;
}

@media ($tablet-width) {
  .catalog-item {
    display: flex;
  }
  .catalog-item__descr {
    padding-bottom: 59px;
  }
  .catalog-item__title {
    a {
      font-size: 20px;
    }
  }
  .catalog-item__descr {
    font-size: 15px;
    width: 333px;
  }
  .catalog-item__price {
    a {
      font-size: 17px;
    }
  }
}

@media ($desktop-width) {
  .catalog-item {
    flex-direction: column;
    width: 315px;
  }
  .catalog-item__descr {
    font-size: 15px;
    width: 266px;
  }
}
