
.catalog-items {
}
.catalog-items__title {
  color: #000000;
  font-size: 27px;
  font-weight: bold;
  background-color: #f1f1f1;
  margin: 0;
  text-align: center;
  padding-top: 75px;
  padding-bottom: 75px;
  margin-bottom: 29px;
}

@media ($tablet-width) {
  .catalog-items__title {
    font-size: 43px;
    line-height: 50px
  }
}

@media ($desktop-width) {
  .catalog-items__title {
    font-size: 53px;
    line-height: 57px
  }
  .catalog-items__wrapper {
    display: flex;
  }
}
