.form-phone__input-field {
  width: 260px;
  height: 55px;
  border: none;
  border-bottom: 2px solid #000000;
  font-family: "OpenSansRegular";
  font-size: 17px;
  line-height: 18px;
  outline: none;

  &:hover {
    border-bottom: 2px solid #63d1bb;
  }

  &:active {
    border-bottom: 2px solid #63d1bb;
  }
}

.form-phone__icon {
  position: absolute;
  width: 25px;
  height: 25px;
  right: 18px;
  bottom: 28px;
}

.form-phone__icon svg {
  opacity: 0.2;
  &:hover {
    opacity: 1;
    fill: #63d1bb;
  }
  &:active {
    opacity: 1;
    fill: #63d1bb;
  }
}

@media ($tablet-width) {
  .form__group--phone {
    background-color: #f1f1f1;
    margin-bottom: 0;
  }
  .form-phone,
  .form-mail {
    margin-left: 210px;
  }
  .form-phone__input-field {
    background-color: #f1f1f1;
    font-size: 19px;
    text-transform: uppercase;
    width: 500px;
  }

  .form__group--phone {
    padding-top: 42px;
  }
  .form-phone__icon {
    right: 74px;
  }
}

@media ($desktop-width) {
  .form-phone, .form-mail {
    margin-left: 216px;
    margin-right: 185px;
  }
  .form-phone__input-field {
    width: 700px;
  }
  .form-phone__icon {
    right: 214px;
  }
  .form-mail__mail {
    right: 195px;
  }
}
