.form-info__label {
  display: block;
  padding-top: 22px;
  font-family: "OpenSansBold";
  font-size: 17px;
  line-height: 18px;
}

.form-info__input-field {
  width: 260px;
  height: 48px;
  border: none;
  outline: none;
  border-bottom: 2px solid #000000;
  font-family: "OpenSansRegular";
  font-size: 17px;
  line-height: 18px;

  &:hover {
    border-bottom: 2px solid #63d1bb;
  }

  &:active {
    border-bottom: 2px solid #63d1bb;
  }
}

@media ($tablet-width) {
  .form-info {
    margin: 16px 50px 30px 215px;
  }
  .form-info__label {
    display: inline-block;
    font-size: 19px;
    padding-right: 31px;
    padding-top: 40px;
  }
  .form-info__input-field {
    width: 326px;
    font-size: 19px;
  }
  .form__group--info {
    margin-bottom: 9px;
  }
}


@media ($desktop-width) {
  .form-info {
    margin: 17px 185px 30px 217px;
  }
  .form-info__input-field {
    width: 556px;
  }
  .form-info__label {
    padding-right: 38px;
  }
}
