.form {
  display: flex;
  flex-direction: column;
  margin: 0 30px 55px 20px;
}
.form__group {
  margin-bottom: 30px;
  border: none;

  &--type {
    margin-bottom: 9px;
  }

  &--phone,
  &--mail {
    position: relative;
    margin-bottom: 14px;
  }

  &--color {
    margin-bottom: 0px;
  }

  &--info {
    margin-bottom: 16px;
  }

  &--comment {
    margin-bottom: -27px;
  }
}
.form__group--color {
  .form__title {
    margin-bottom: 19px;
  }
}

.form__title {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  width: 100%;
  overflow: hidden;
  font-family: "OpenSansBold";
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  color: #63d1bb;

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    height: 1px;
    width: 100%;
    margin-left: 25px;
    background-color: #63d1bb;
  }

  &--color {
    margin-bottom: 22px;
  }
}

.form__label {
  font-size: 17px;
  color: #000000;
  font-weight: bold;
}

.form__btn {
  font-size: 17px;
  @include link;
  color: #444444;
  text-transform: uppercase;
  margin-top: 10px;
  margin-left: 10px;
}
.form__info {
  margin-left: 10px;
  font-family: "OpenSansRegular";
}

@media ($tablet-width) {
  .form {
    position: relative;
    margin: 0 0 46px 0;
  }
  .form__info {
    display: inline-block;
    text-align: right;
    font-size: 17px;
    margin-top: 68px;
    margin-right: 49px;
  }
  .form__btn {
    bottom: 3px;
    left: 40px;
    width: 230px;
    position: absolute;
  }
  .form__group {
    position: relative;
    margin-left: 0;
  }

  .form__group {
    &--mail {
      padding-bottom: 50px;
      margin-bottom: 23px;
      background-color: #f1f1f1;
    }
  }
  .form__group--type {
    .form__title {
      position: absolute;
      top: 48px;
      left: 50px;
    }
  }
  .form__group--color {
    .form__title {
      position: absolute;
      top: 66px;
      left: 50px;
    }
  }
  .form__group--info {
    .form__title {
      position: absolute;
      top: 62px;
      left: 50px;
    }
  }
  .form__group--phone {
    .form__title {
      position: absolute;
      top: 66px;
      left: 50px;
    }
  }
  .form__group--mail {
    .form__title {
      position: absolute;
      top: 31px;
      left: 50px;
    }
  }
  .form__group--comment {
    .form__title {
      position: absolute;
      top: 45px;
      left: 50px;
    }
  }
}

@media ($desktop-width) {
  .form__info {
    margin-right: 205px;
  }
  .form__btn {
    left: 215px;
    bottom: 8px;
  }
  .form__group--type {
    .form__title {
      left: 114px;
    }
  }
  .form__group--color {
    .form__title {
      left: 109px;
    }
  }
  .form__group--info {
    .form__title {
      left: 111px;
    }
  }
  .form__group--phone {
    .form__title {
      left: 112px;
    }
  }
  .form__group--mail {
    .form__title {
      left: 111px;
    }
  }
  .form__group--comment {
    .form__title {
      left: 112px;
    }
  }
}
