.page-header {
  width: 320px;
  @include container;
  position: relative;
}

.page-header__logo {
  img {
  display: block;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  }
}
@media ($tablet-width) {
  .page-header {
   width: auto;
   min-height: 88px;
   margin: 0;
   border-top: none;
 }

 .page-header__logo {
   float: left;
   width: 86px;
 }
}
